eventlet
faker
flask
flask-sqlalchemy
flask-uuid
gevent
gunicorn
iso3166
marshmallow
marshmallow-enum
pg8000
psycogreen
psycopg2 ; python_version >= '3.8' # CPython only
psycopg2cffi ; python_version < '3.7'  # PyPy only
requests
sqlalchemy-utils
